<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCC ASSIGNMENT 4</title>
   

</head>
<body>
    <h1>DCC ASSIGNMENT 4</h1>
    <h1>Roll Number - 23110066</h1>
    <div>
        <a href="/question1"><button>Question1</button></a>
        <a href="/question2"><button>Question2</button></a>
        <a href="/question3"><button>Question2(graph)</button></a>
        <a href="/question4"><button>Question3</button></a>
        <a href="/question5"><button>Question4</button></a>
        <a href="/question6"><button>Question5</button></a>
    </div>
</body>
</html>
