<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 3</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <style>
        body {font-family: Arial, sans-serif;margin: 0;padding: 0;}
        .chart-container {display: flex;justify-content: space-between;max-width: 1400px; margin: 0 auto;}
        .chart-container canvas {max-width: calc(50% - 10px); max-height: 500px; margin-right: 10px;}
        .home-button {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Question 3</h1>
    


    <form method="POST" action="/question4">
        <label for="party">Select Political Party:</label>
        <select name="dropdown" id="party">
            {% for i in dropdown_options %}
                <option value="{{ i }}"{% if i == selected_option %} selected {% endif %}>{{ i }}</option>
            {% endfor %}
  
        </select>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/"><button>Home</button></a>
    {% if selected_option %}
        <h3>Selected Political Party: {{ selected_option }}</h3>
    {% endif %}


    {% if data_a4 %}
        <h3>Yearly Data of Bonds Encashed and Total Value of Bonds Encashed</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Encashment Year</th>
                    <th>No. of Bonds Encashed</th>
                    <th>Total Value Encashed</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data_a4 %}
                    <tr>
                        
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}



  
    <div class="chart-container">
        <canvas id="first_graph"style="max-height: 500px;max-width: 600px;"></canvas>
        <canvas id="second_graph"style="max-height: 500px;max-width: 600px;"></canvas>
    </div>



    <script>
      
        var xValues = {{ x_values | safe }};
        var y1Values = {{ y1_values | safe }};
        
       
        var ctx = document.getElementById('first_graph').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar', 
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Bonds Purchased', 
                    data: y1Values,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)', 
                    borderColor: 'rgba(54, 162, 235, 1)', 
                    borderWidth: 1 
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true 
                    }
                }
            }
        });

        var y2Values = {{ y3_values | safe}};
       
        var ctx2 = document.getElementById('second_graph').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'bar', 
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Total Value of Bonds Purchased', 
                    data: y2Values,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)', 
                    borderColor: 'rgba(255, 99, 132, 1)', 
                    borderWidth: 1 
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true 
                    }
                }
            }
        });
    </script>

</body>
</html>
